div#primary_responder {
	float: left;
	width: 50%;
	padding: 6px 12px;
}

div#response_team {
	float: right;
	width: 50%;
	padding: 6px 12px;
}

div#issue_type_id {
	float: left;
	width: 50%;
	padding: 6px 12px;
}

div#issue_id {
	float: right;
	width: 50%;
	padding: 6px 12px;
}

div#incident_status {
	float: left;
	width: 50%;	
	padding: 6px 12px;
}

div#next_update_at {
	float: right;
	width: 50%;
	padding: 6px 12px;
}

div#incident_title {
	float: left;
	width: 90%;		
}

div#incident_type {
	float: right;
	width: 10%;
	padding: 1px 3px;
}

div#incident_desc {
	float: left;
	width: 100%;	
}

div#subscribers {
	float: left;
	width: 100%;	
	padding: 12px 6px;
}


div#newSubscribers {
	float: left;
	width: 100%;	
	padding: 12px 6px;
}

div#subscriptions {
	float: left;
	width: 50%;	
	padding: 12px 6px;
}

div#newSubscriptions {
	float: left;
	width: 50%;	
	padding: 12px 6px;
}

div#subscriptionAdder {
	float: right;
	width: 50%;	
	padding: 12px 6px;
}

div#newSubscriptions {
	float: left;
	width: 50%;	
	padding: 12px 6px;
}

div#newSubscriptionAdder {
	float: right;
	width: 50%;	
	padding: 12px 6px;
}


div.new_incident_button {
	padding: 12px 6px;
}

