@(message: String = "HELP")(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash) 


@template(){
	
<h2>Introduction</h2>

When there's a significant issue or incident impacting developers, all staff, external users or impacts of other scopes, it's useful to have a communication mechanism that:

<ol>
	<li>what the scope is</li>
	<li>indicates who is primarily responsible for resolving the issue</li>
	<li>which team is focused on it with the primary</li>
	<li>indicates when to expect an update</li>
	<li>enables designating groups of users ("teams") to be subscribed the issue to receive communications about it</li>
	<li>clearly indicates the duration of the incident</li>
</ol>

<h2>Creating Incidents</h2>

To create an incident, click on the <a href="@routes.IncidentCreator.addIncident">[New Incident]</a> button on the main page.

<ol>
	<li>give the incident a <strong>Title</strong>, this will appear in the subject line of email messages concerning the incident</li>
	<li>indicate the scope, either <strong>Internal</strong> or <strong>External</strong></li>
	<li>provide some narrative in the <strong>Description</strong> about the incident<br />
		if it's impact is External indicate which users are impacted (e.g. just perks users, users in the U.S., all users)</li>
	<li>indicate when the <strong>Next Update</strong> should be expected</li>
	<li>The <strong>Issue Type</strong> is a mechanism to optionally link external tracking systems
		<ul>
			<li><strong>JIRA</strong></li>
			<li><strong>Pager Duty</strong></li>
		</ul>
		...or it may be unrelated to an externally tracked issue and is simply a <strong>Direct</strong>ly reported one.</li>
	<li>assign a <strong>Primary Responder</strong> (yourself, if applicable)</li>
	<li>indicate a <strong>Response Team</strong>, if applicable</li>
	<li>determine which Teams should be <strong>Subscribed</strong> to the issue</li>
	<li>... and <strong>Submit</strong> it!</li>
</ol>

<p>
	<strong>Internal</strong> issues are typically of a "Heads Up" informational nature concerning infrastructure maintenance, significant application deployments or other system changes that will likely only be apparent to those inside the organization. The subject line in the mail messages from internal impacting issues will be prefixed "HEADSUP".
</p>

<p>
	<strong>External</strong> issues are those that impact the service in a way that users will likely notice such as data publishes missing their schedule, degraded service performance, network outages, outbound mail system malfunctions. The subject line from external impacting incidents will be prefixed "SITEIMPACT".
</p>


<h2>Updating An Issue</h2>

<p>
	Incidents may have updates posted to them to provide progress updates, new information and resolution details. Updates are visible in reverse chronological order on the incident's detail page. You can add one by clicking [Add Update] an incident's detail page.
</p>

<h2>Users</h2>

<p>
	This app is intentionally built with nothentication - "logging in" is just saying who you are, not proving it.  So this assumes a level of trust that users of the system won't misuse it. If that becomes a problem, some authentication system will be plugged in but in the meantime, we'll assume that we're all adults who find no thrill in abusing communication mechanisms.
</p>

<p>
	Deployment to a trusted network is assumed; <em>do not run this app with open public access</em> because it can and <em>will</em> be abused.
</p>

<h3>Gravatars</h3>

<p>
	If a user has a <a href="http://www.gravatar.com/">Gravatar</a> account with an email address that matches their email address in this system, their avatar will be visible. Otherwise, a placeholder avatar will be shown instead.
</p>

<h2>Teams</h2>

<p>
	Teams arbitrary groupings of users that can be subscribed to an issue. The responding team is automatically subscribed but 	others may be subscribed if the incident potentially impacts them. Teams can have many users, users can be on many teams. Incidents can have many teams subscribed, ergo many users can be kept up to date on an issue with a good deal of flexibility. A user on multiple teams subscribed to the same incident will only be sent each update only once; the superset is addressed, not a joined lists with duplicates.
</p>

<h2>Longer Term Goals</h2>

<ol>
	<li>Nag primary responders who don't update within the time indicated by the <strong>Next Update</strong> time</li>
	<li>Measure incident lifecycle times with correlated systems (JIRA, Pager Duty, etc)</li>
	<li>Provide a searchable knowledge respository so that resolutions to new incidents can be hastened by old ones</li>
	<li>Aid in retrospectives and post-mortems by reconstructing timelines and helping turn incidents into learning opportunities</strong></li>
</ol>

<h2>About</h2>

This is based on an open source project that was used as a learning exercise for a high school student for him to learn about Scala, Play Framework, Javascript and web application development. The code is posted on <a href="https://github.com/spidaman/Incident-Response-Manager">GitHub</a> under an Apache 2 license.














}