@(incidentForm: Form[IncidentFormTemp])(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)


@import helper._
<!-- Custom form -->
@implicitFieldConstructor = @{ FieldConstructor(bootstrapForm.render)}

<!-- Select dropdowns. Empty string is interpreted as null-->
@usersMap = @{Tuple2("","-- Choose A Primary Responder --") :: (for(user <- UserM.getUsers if(!user.deleted)) yield Tuple2(user.id.getOrElse(-1).toString, user.first_name + " " + user.last_name))}
@teamsMap = @{Tuple2("","-- Choose A Response Team --") :: (for(team <- TeamM.getTeams if(!team.deleted)) yield Tuple2(team.id.getOrElse(-1).toString, team.name))}
@issueTypesMap = @{Tuple2("","-- Choose An Issue Type --") :: (for(issueT <- IssueTypeM.getIssueTypes) yield Tuple2(issueT.id.getOrElse(-1).toString, issueT.name))}


@template(){
	
 	<!-- For time picker -->
 	<link href="@routes.Assets.at("stylesheets/jqueryUI.css")" rel="stylesheet" media="screen">
 	<link href="@routes.Assets.at("stylesheets/jqueryTimepicker.css")" rel="stylesheet" media="screen">


 	<div class="row">
 	<div class="col-md-12">

 	<h1>Create an Incident</h1>
 	@incidentForm.globalError.map { error =>
  		<div class="text-danger">@error.message</div>
	}

	</div>
	</div>

	<div class="row">
 	<div class="col-md-12">
	@form(action = routes.IncidentCreator.submitIncidentForm, 'role -> "form"){
		<!-- '_attribute -> 'blah' 'attribute -> 'blah2'   -->
		<!-- <fieldset> -->

		<div id="incident_title">
		@inputText(incidentForm("title"), 
		'_label -> "Title*", 'errormessage -> "Required", 'class ->"form-control")
		</div>

		<div id="incident_type">
		@select(incidentForm("incident_type"), options(IncidentM.incidentTypes), '_label -> "Impact Scope", 'class ->"form-control")
		</div>

		<div id="incident_desc">
		@textarea(incidentForm("description"), 
		'_label -> "Description*", 'errormessage -> "Required", 'class->"input-xxlarge", 'rows-> 4, 'class ->"form-control")
		</div>

		@{/*select(incidentForm("status"), options(IncidentM.statusTypes), 
		'_label -> "Status")*/}

		<!-- <label class-"control-label">Status</label>
			<div class ="controls">
			<input type = "text" name ="status" value ="open"  readonly = "readonly" class="form-control">
		</div> -->
		<div class="form-group" id="incident_status">
	      <label for="disabledTextInput">Status</label>
	      <input type="text" name = "status" id="disabledTextInput" value ="open" class="form-control" readonly>
    	</div>

		<div id="next_update_at">
		@inputText(incidentForm("next_update_at_string"), 
		'_label -> "Next Update", 'class ->"form-control")
		</div>

		<div id="issue_type_id">
		@select(incidentForm("issue_type_id"), issueTypesMap,
		'_label -> "Issue Type", 'class ->"form-control")
		</div>

		<div id="issue_id">
		@inputText(incidentForm("issue_id"), 
		'_label -> "Issue ID", 'class ->"form-control")
		</div>

		<div id="primary_responder">
		@select(incidentForm("primary_responder"), usersMap,
		'_label -> "Primary Responder", 'class ->"form-control")
		</div> 

		<div id="response_team">
		@select(incidentForm("response_team"), teamsMap,
		'_label -> "Response Team", 'class ->"form-control")
		</div>

		<div id ="subscriptions">
		@repeat(incidentForm("subscriptions"), min = 0) { subscription =>
    
			<div class="subscription"> 
			@input(subscription, '_label -> "Subscription") { (id, name, value, args) =>

			<!-- Get index number out of Subscription[n], store in 'index' attribute -->

    		<select name="@name" id="@id" value="@value" index = "@Helper.extractRepeatedFormIndex(name)" @toHtmlArgs(args) class="form-control">
				@for((team_id, display) <- teamsMap if (team_id != "")){
					<option value="@team_id" @if(team_id == value.getOrElse("")){selected}>@display</option>
				}

			</select>
			<!-- <a class="removeSubscription" index="@Helper.extractRepeatedFormIndex(name)"><i class="icon-remove" ></i></a> -->
			<a class="removeSubscription"><span class="glyphicon glyphicon-remove"></span></a>
			}
			</div>

		}
		<a id="addSubscription" class="btn btn-primary">Add Subscription</a>
		</div>

		<!-- Stores id -->
		@input(incidentForm("user_id"), '_label -> "") { (id, name, value, args) =>
    		<input type="hidden" name="@name" id="@id" value="@value"  @toHtmlArgs(args)>
		}

		<!-- </fieldset> -->
		
		<button type="submit" class = "btn btn-success">Submit</button>
		<a class ="btn btn-warning" id="quit">Cancel</a>
	}
	</div>
	</div>

	<!-- For making javascript easier -->
	<!-- Can't be inside form since we don't want to submit it -->
	<div id ="subscription_template" style="display: none;">
		<div class="subscription">
		@input(incidentForm("subscriptions[0]"), '_label -> "Subscription") { (id, name, value, args) =>

		<select class="form-control">
			@for((value, display) <- teamsMap if (value != "")){
				<option value="@value">@display</option>
			}
		</select>
		<!-- <a class="removeSubscription"><i class="icon-remove"></i></a> -->
		<a class="removeSubscription"><span class="glyphicon glyphicon-remove"></span></a>
		}
		</div>
	</div>



	<script src="@routes.Assets.at("javascripts/jqueryUI.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jqueryTimepicker.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/creator.js")" type="text/javascript"></script>

}

