@(incidentForm: Form[IncidentFormTemp], user_id: Int)(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)


@import helper._
<!-- Custom form -->
@implicitFieldConstructor = @{ FieldConstructor(bootstrapForm.render)}

<!-- Select dropdowns. Empty string is interpreted as null-->
@usersMap = @{for(user <- UserM.getUsers if(!user.deleted)) yield Tuple2(user.id.getOrElse(-1).toString, user.first_name + " " + user.last_name)}
@teamsMap = @{Tuple2("","None") :: (for(team <- TeamM.getTeams if(!team.deleted)) yield Tuple2(team.id.getOrElse(-1).toString, team.name))}
@issueTypesMap = @{Tuple2("","None") :: (for(issueT <- IssueTypeM.getIssueTypes) yield Tuple2(issueT.id.getOrElse(-1).toString, issueT.name))}


@template(){
	

	
<!-- 	<form action="@routes.IncidentCreator.submitIncidentForm" method="post">
 -->
		<!-- THe name attribute deals with form submission -->
		<!-- <input id = "title" name ="title">
		<input id = "description" name ="description">
		<input id = "incident_type" name ="incident_type">
		<input id = "status" name ="status">
		<input id = "next_update" name ="next_update">
		<input id = "issue_type" name ="issue_type">
		<input id = "issue_type_id" name ="issue_type_id">
		<input id = "primary_responder" name ="primary_responder">
		<input id = "response_team" name ="response_team">
		<input id = "user_id" name ="user_id">

	</form>
 -->

 	<!-- For time picker -->
 	<link href="@routes.Assets.at("stylesheets/jqueryUI.css")" rel="stylesheet" media="screen">
 	<link href="@routes.Assets.at("stylesheets/jqueryTimepicker.css")" rel="stylesheet" media="screen">


 	<div class="row">
 	<div class="span12">

 	<h1>Create an Incident</h1>
 	@incidentForm.globalError.map { error =>
  		<div class="text-error">@error.message</div>
	}

	</div>
	</div>

	<div class="row">
 	<div class="span12">
	@form(action = routes.IncidentCreator.submitIncidentForm){
		<!-- '_attribute -> 'blah' 'attribute -> 'blah2'   -->
		<fieldset>


		@inputText(incidentForm("title"), 
		'_label -> "Title*", 'errormessage -> "Required")

		@textarea(incidentForm("description"), 
		'_label -> "Description*", 'errormessage -> "Required")

		@select(incidentForm("incident_type"), options(IncidentM.incidentTypes), '_label -> "Incident Type")

		@{/*select(incidentForm("status"), options(IncidentM.statusTypes), 
		'_label -> "Status")*/}

		<label class-"control-label">Status</label>
		<div class ="controls">
		<input type = "text" name ="status" value ="open"  readonly = "readonly">
		</div>


		@inputText(incidentForm("next_update_at_string"), 
		'_label -> "Next Update")


		@select(incidentForm("issue_type_id"), issueTypesMap,
		'_label -> "Issue Type")

		@inputText(incidentForm("issue_id"), 
		'_label -> "Issue ID")

		@select(incidentForm("primary_responder"), usersMap,
		'_label -> "Primary Responder")

		@select(incidentForm("response_team"), teamsMap,
		'_label -> "Response Team")

		<div id ="subscriptions">
		@repeat(incidentForm("subscriptions"), min = 0) { subscription =>
    
			<div class="subscription"> 
			@input(subscription, '_label -> "Subscription") { (id, name, value, args) =>

			<!-- Get index number out of Subscription[n], store in 'index' attribute -->

    		<select name="@name" id="@id" value="@value" index = "@Helper.extractRepeatedFormIndex(name)" @toHtmlArgs(args)>
				@for((team_id, display) <- teamsMap if (team_id != "")){
					<option value="@team_id" @if(team_id == value.getOrElse("")){selected}>@display</option>
				}

			</select>
			<a class="removeSubscription" index="@Helper.extractRepeatedFormIndex(name)"><i class="icon-remove" ></i></a>
			}
			</div>

		}

		</div>
		<a id="addSubscription" class="btn btn-primary">Add Subscription</a>


	
		@input(incidentForm("user_id"), '_label -> "") { (id, name, value, args) =>
    		<input type="hidden" name="@name" id="@id" value = "@user_id" @toHtmlArgs(args)>
		}

		</fieldset>
		
		<button type="submit" class = "btn btn-success">Submit</button>
	}
	</div>
	</div>

	<!-- For making javascript easier -->
	<!-- Can't be inside form since we don't want to submit it -->
	<div id ="subscription_template" style="display: none;">
		<div class="subscription">
		@input(incidentForm("subscriptions[0]"), '_label -> "Subscription") { (id, name, value, args) =>

		<select>
			@for((value, display) <- teamsMap if (value != "")){
				<option value="@value">@display</option>
			}
		</select>
		<a class="removeSubscription"><i class="icon-remove"></i></a>
		}
		</div>
	</div>



	<script src="@routes.Assets.at("javascripts/jqueryUI.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jqueryTimepicker.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/creator.js")" type="text/javascript"></script>

}

