@(id: Int)(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)


@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapForm.render)}


@team = @{TeamM.getTeam(id)}
@users = @{UserTeamMap.getUsers(id)}
@allUsers = @{UserM.getUsersNotDeleted}
@incidentsSubscribed =  @{IncidentSubscriptionsMap.getIncidents(id)}

@template("Team"){
	<!-- Store ID for javascript -->

	<div id="team_id" value="@id"></div>
	@team match {
		case Some(t) => {
			<div class = "row">
				<div class="col-md-12">
					<h1>Team: @t.name</h1>
					
					<table class ="table table-striped">
						<tbody>
							<tr><td>ID</td><td>@id</td></tr>
							<tr><td>Name</td><td> @t.name</td></tr>
						</tbody>
					</table>
				</div>
			</div>

			@if(!t.deleted){
			<div class = "row"> 
					<div class="col-md-6">
						@form(action = routes.TeamInfo.editTeam(id)){
							<button class ="btn btn-info" type="submit">Edit Team</button>
							<a class ="btn btn-warning" id="quit">Back</a>

						}
					</div>

					<div class="col-md-6">
						@form(action = routes.TeamInfo.deleteTeam(id)){
							<button class ="btn btn-danger pull-right" type="submit">Delete Team</button>
						}
					</div>
			</div>

			<hr>


			<div class="row">
				<div class = "col-md-6">
					<h3>Members</h3>
					<ul>
						@for(user <- users){
							<li><a class="remove" value="@user.id.get"><span class="glyphicon glyphicon-remove"></span></a>  <a href="@routes.UserInfo.userPage(user.id.get)">@{user.first_name + " " + user.last_name}</a></li>
						}
					</ul>
					<!-- Use javascript to "submit" form -->
					<form role="form"> 
						<div class="form-group">  
							<select id="user_select" class="form-control">
								@for(user <- allUsers){
									<option value="@user.id.get">@user.first_name @user.last_name</option>
								}
							</select>
						</div>
						<!-- <a id="add_user" class="btn btn-primary">Add User</a> -->
						<a id="add_user" class="btn btn-primary">Add User</a>
					</form>
				</div>


				<div class ="col-md-6">
					<h3>Incidents</h3>
					<ul>
						<li class = "btn btn-default" data-toggle="collapse" data-target="#responseteam">Response Team For</li>

							<ul id="responseteam" class="collapse in">
								@for(i <- TeamM.getResponseTeamIncidents(id)){
									<li><a href="@routes.IncidentView.incidentView(i.id.get)">@{i.title}</a></li>
								}
							</ul>

						<br>

						<li class = "btn btn-default" data-toggle="collapse" data-target="#subscribedto">Subscribed to</li>
							<ul id="subscribedto" class="collapse in">
								@for(i <- incidentsSubscribed){
									<li><a href="@routes.IncidentView.incidentView(i.id.get)">@{i.title}</a></li>
								}
							</ul>
						
					</ul>
				</div>
			</div>


		}else{
			<h1 class="text-danger">Team has been deleted</h1>
		}

			
		}

		case None => {
			<h1 class ="text-danger">Team Not Found</h1>
		}	
	}

	
	<script src="@routes.Assets.at("javascripts/teamView.js")" type="text/javascript"></script>


}