@(teamForm: Form[TeamM], id: Int)(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapForm.render)}

<!-- User selects email, but submits ID -->


@template("Edit Team"){
	
	<h1>Edit Team</h1>
	@form(action = routes.TeamInfo.submitTeamEditForm(id), 'role-> "form"){
		
		@inputText(teamForm("name"), '_label -> "Name", 'class->"form-control")
		<button type="submit" class="btn btn-success">Submit</button>
		<a class ="btn btn-warning" id="quit">Cancel</a>
	}
}