@(userForm: Form[UserM])(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(bootstrapForm.render)}

<!-- User selects email, but submits ID -->


@template("Add User"){
	
	<h1>Add User</h1>
	@form(action = routes.UserInfo.submitUserForm, 'role-> "form"){
		
		@inputText(userForm("first_name"), '_label -> "First Name", 'class->"form-control")
		@inputText(userForm("last_name"), '_label -> "Last Name", 'class->"form-control")
		@inputText(userForm("email"), '_label -> "Email", 'class->"form-control")
		<button type="submit" class="btn btn-success">Submit</button>
		<a class ="btn btn-warning" id="quit">Quit</a>
	}
}