@(users: List[UserM])(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)


@template("Users"){


	<div class = "row">
		<div class="col-md-12">
			<h1>Users <a class ="btn btn-warning" id="quit">Back</a>
</h1>

			<table class="table table-striped">
				<tbody>
					<!-- 
					this filtering logic should be in your controller, I was expecting to see something like
					def getUsers = {
						Helper.getAllSort[UserM]("users", "first_name", false, userParser).filter { u => ! u.deleted  }
					}
					-->
					@for(user <- users){
					<tr>
						<td width ="10%"><img src="@Helper.gravatar(user.email)"></td>
						<td><a href="@routes.UserInfo.userPage(user.id.get)">@{user.first_name + " " + user.last_name}</a></td>
					</tr>
					}
				</tbody>
			</table>
			@{/*
			<ul>
				@for(user <- users){
					<li><a href="@routes.UserInfo.userPage(user.id.get)">@{user.first_name + " " + user.last_name}</a></li>
				}
			</ul>
			*/}
			
			<a href="@routes.UserInfo.addUser()" class="btn btn-primary">Add User</a>
		</div>
	</div>

}